@using Entities.Concrete
@model List<Product>

@{
	ViewData["Title"] = "GetAll";
}

<!DOCTYPE html>

<link href="~\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />

<div class="container">
	<div class="p-5 w-50 m-0">
		<a href="/Product/Add" class="btn btn-success">Add Product</a>
	</div>
	<br />
	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Category Id</th>
			<th>Ad</th>
			<th>Birim Fiyatı</th>
			<th>Stok</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ProductId</td>
				<td>@item.CategoryId</td>
				<td>@item.ProductName</td>
				<td>@item.UnitPrice</td>
				<td>@item.UnitsInStock</td>
			</tr>
		}
	</table>
</div>